---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import { Accordion, AccordionItem } from 'accessible-astro-components'
---

<DefaultLayout title="Home">
  
  <Hero />
  <div class="video-container">
    <iframe
      src="https://www.youtube.com/embed/V6_Etipuryo?autoplay=1&mute=1&loop=1&playlist=V6_"
      title="Sordoceguera Documental"
      allow="autoplay; encrypted-media"
      allowfullscreen
    ></iframe>
  </div>
  
  <style>
    .video-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      padding: 20px;
    }
  
    .video-container iframe {
      width: 80%;
      height: 50vh; /* Se ajusta al 50% del alto de la pantalla */
      max-width: 900px; /* Máximo ancho */
    }
  
    @media (max-width: 768px) {
      .video-container iframe {
        width: 100%;
        height: 40vh; /* Se reduce el alto en pantallas más pequeñas */
      }
    }
  </style>
  <section class="inscription-section bg-gradient-to-b from-purple-900 to-purple-800 py-16">
    <div class="container mx-auto px-6">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center bg-white shadow-2xl rounded-2xl p-8 border border-purple-200">

        <!-- Texto descriptivo -->
<div>
  <h2 class="text-4xl font-bold text-black text-center">¿Cómo inscribirse?</h2>
  <p class="text-lg text-black mt-3 text-center">Para formar parte de este evento único, sigue estos pasos:</p>
  <div class="bg-white p-6 rounded-lg shadow-inner mt-6">
    <ol class="list-decimal pl-9 text-black space-y-4 text-lg">
      <li>Envía un correo a <b class="text-black">catavs@ull.edu.es</b> o rellena el formulario solicitando la inscripción.</li>
      <li>En el asunto, incluye tu <b class="text-black">nombre completo</b> y <b class="text-black">DNI</b>.</li>
      <li>Verificaremos si quedan plazas disponibles.</li>
      <li>Recibirás un correo con los detalles y el número de cuenta para el pago.</li>
      <li class="text-red-700">⚠️ Las plazas estan limitadas a 220, se revisará el número de plazas disponibles y se le enviará un correo con el número de cuenta para que se realice el pago solicitado con las instrucciones. </li>
    </ol>
    <div class="mt-11 mb-1">
      <a href="/inscripciones/" class="block text-center bg-purple-100 text-white py-1.5 px-3 w-32 rounded-lg hover:bg-purple-400 transition-all shadow-lg hover:shadow-xl">Ver Tarifas</a>
    </div>
    
  </div>
</div>

        <!-- Formulario de inscripción -->
        <div class="bg-white p-8 rounded-2xl shadow-md border border-purple-200">
          <h2 class="text-2xl font-semibold text-purple-900">Inscríbete Ahora</h2>
          <p class="text-black mb-6">Completa el formulario y te enviaremos los detalles por correo.</p>
          
          <form action="https://formsubmit.co/catavs@ull.edu.es" method="POST" class="space-y-6">
            <!-- Nombre -->
            <div>
              <label for="name" class="block text-black font-medium">Nombre y Apellidos</label>
              <input type="text" id="name" name="name" required placeholder="Escribe tu nombre completo" class="w-full p-3 border border-purple-300 rounded-lg shadow-sm focus:ring-2 focus:ring-purple-500 focus:border-purple-500 transition" />
            </div>

            <!-- DNI -->  
            <div>
              <label for="dni" class="block text-black font-medium">DNI</label>
              <input type="text" id="dni" name="dni" required placeholder="Escribe tu DNI" class="w-full p-3 border border-purple-300 rounded-lg shadow-sm focus:ring-2 focus:ring-purple-500 focus:border-purple-500 transition" />
            </div>

            <!-- Tipo de inscripción -->
            <div>
              <label for="type" class="block text-black font-medium">Tipo de inscripción</label>
              <select id="type" name="type" required class="w-full p-3 border border-purple-300 rounded-lg shadow-sm focus:ring-2 focus:ring-purple-500 focus:border-purple-500 transition">
                <option value="" disabled selected>Selecciona una opción</option>
                <option value="General">General</option>
                <option value="Socios">Socios</option>
                <option value="Alumno ULL">Alumno ULL</option>
              </select>
            </div>

            <!-- Correo Electrónico -->
            <div>
              <label for="email" class="block text-black font-medium">Correo Electrónico</label>
              <input type="email" id="email" name="email" required placeholder="Tu correo electrónico" class="w-full p-3 border border-purple-300 rounded-lg shadow-sm focus:ring-2 focus:ring-purple-500 focus:border-purple-500 transition" />
            </div>


            <!-- Botón de envío -->
            <button type="submit" class="w-full bg-purple-600 text-white py-3 rounded-lg hover:bg-purple-700 transition-all shadow-lg hover:shadow-xl">Enviar Inscripción</button>
          </form>
        </div>
      </div>
    </section>
  
  <ContentMedia imgSrc="src/assets/img/aulario.jpg">
    <h2>¿Dónde tendrá lugar?</h2>
    <p class="text-2xl" id="location-text">
      El evento se llevará a cabo en la Universidad de La Laguna, específicamente en el Aulario de Guajara, un espacio diseñado para albergar actividades académicas, conferencias y encuentros de diversa índole. Este recinto, conocido por su moderna infraestructura y su ubicación estratégica dentro del campus universitario, ofrecerá un entorno adecuado para el desarrollo del evento, facilitando la participación de estudiantes, docentes y demás asistentes interesados en la temática abordada.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="src/assets/img/descarga.png" reverseImg={true} filter: brightness(0) invert(0);>
    <h2>Horarios y fechas</h2>
    <p class="text-2xl" id="schedule-text">
      El horario exacto y las fechas oficiales del evento serán anunciados próximamente. Les recomendamos estar atentos a nuestras redes sociales y demás canales de comunicación, donde publicaremos toda la información actualizada en cuanto esté disponible. De esta manera, podrán planificar su asistencia con antelación y no perderse ningún detalle importante.
    </p>
  </ContentMedia>

  <section class="my-64">
    <div class="container grid grid-cols-1 gap-12 md:grid-cols-2">
      <div class="flex flex-col items-start gap-4">
        <h2 class="text-6xl">Preguntas</h2>
        <p class="text-2xl" id="faq-text">
          En esta sección puedes consultar las dudas frecuentes por si te sirven de ayuda. En caso de no encontrar respuesta no dudes en consultarnos.
        </p>
        <a class="button" href="https://www.instagram.com/catedradiscapacidadauditiva/">Contacta con nosotros</a>
      </div>
      <div class="space-content">
        <Accordion>
          <AccordionItem name="exclusive" title="¿Cómo puedo asistir al congreso?" open>
            <p>
              respuesta
            </p>
          </AccordionItem>
          <AccordionItem name="exclusive" title="¿Es necesario el pago de alguna entrada?">
            <p>
              respuesta
            </p>
          </AccordionItem>
          <AccordionItem name="exclusive" title="¿Puedo acudir solamente a las charlas que me interesen?">
            <p>
              respuesta
            </p>
          </AccordionItem>
          <AccordionItem name="exclusive" title="¿Que ocurre si se cancela el evento?">
            <p>
              respuesta
            </p>
          </AccordionItem>
          <AccordionItem name="exclusive" title="¿Puedo dar yo alguna charla?">
            <p>
              respuesta
            </p>
          </AccordionItem>
        </Accordion>
      </div>
    </div>
  </section>
  <section class="mb-32 mt-64">
    <div class="container">
      <h2 class="mb-16 text-6xl text-center">No te puedes perder</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="15" title="ponentes" sub="expertos" />
        <Counter count="+20" title="horas" sub="de charlas" />
        <Counter count="30" title="temas" sub="a tratar" />
        <Counter count="+100" title="invitados" sub="en total" />
      </div>
    </div>
  </section>

</DefaultLayout>

<style lang="scss">
  .button {
    background-color: #7604b7; 
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }
</style>