---
import DefaultLayout from '../layouts/DefaultLayout.astro';

const colaboradores = [
  "CNSE",
  "Cabildo de Tenerife",
  "Universidad de La Laguna",
  "Centro de normalización lingusituca de la lengua de signos española",
  "Servicio Canario de Salud",
  "Fundación CNSE",
  "Universidad de Valladolid",
  "Funcacion CD tenerife",
  "Facultad de psicología y logopedia de la ULL",
  "UNED",
  "Universidad Rey Juan Carlos",
  "Universidad Internacional de Valencia",
  "Universidad de Extremadura",
  "Clínica Barajas",
  "Once",
  "Fundacion Doctor Barajas",
  "Universidad Complutense de Madrid",
  "Grupo de Investigacion Educar en la Diversidad",
  "Afón",
  "Fundación Once para la atención de personas con sordoceguera",
];
---

<DefaultLayout title="Colaboradores">
  <section class="my-24 mt-36">
    <div class="container">
      <!-- Organiza y Financia  -->
      <div class="flex flex-col md:flex-row justify-center items-start gap-12 mb-12">
        <!-- Organiza -->
        <div class="text-center w-full md:w-1/2">
          <h2 class="text-4xl font-semibold mb-4">Organiza</h2>
          <div class="sponsor-card mx-auto max-w-[500px]">
            <img src="/img/image22.svg" alt="Cátedra de investigación e innovación en discapacidad auditiva y accesibilidad" class="sponsor-logo-large"/>
          </div>
        </div>
        <!-- Financia -->
        <div class="text-center w-full md:w-1/2">
          <h2 class="text-4xl font-semibold mb-4">Financia</h2>
          <div class="sponsor-card mx-auto max-w-[500px]">
            <img src="/img/image11.png" alt="consejería insular de acción social,inclusión, voluntariado y participación ciudadana" class="sponsor-logo-large"/>
          </div>
        </div>
      </div>

      <!-- Colaboran -->
      <div class="mb-6 text-center">
        <h2 class="text-4xl font-semibold mb-6">Colaboran</h2>
      </div>
      <div class="grid grid-cols-2 gap-6 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
        {Array.from({ length: 21 }, (_, i) => {
          if (i + 1 === 11) return null; 
          return (
            <div class="sponsor-card">
              <img
                src={`/img/image${i + 1}.png`}
                alt={colaboradores[i] || `Colaborador ${i + 1}`}
                class="sponsor-logo1"
              />
            </div>
          );
        })}
        <div class="sponsor-card">
          <img src="/img/image23.jpg" alt="Facultad de Educación" class="sponsor-logo1" />
        </div>
        <div class="sponsor-card">
          <img src="/img/image28.png" alt="sinpromi" class="sponsor-logo1" />
        </div>
        <div class="sponsor-card">
          <img src="/img/image24.jpg" alt="La fábrica de palabras" class="sponsor-logo1" />
        </div>
        <div class="sponsor-card">
          <img src="/img/img25.png" alt="Medel" class="sponsor-logo1" />
        </div>
        <div class="sponsor-card">
          <img src="/img/image26.png" alt="Advance Bionics" class="sponsor-logo1" />
        </div>
        <div class="sponsor-card">
          <img src="/img/img27.svg" alt="ulpgc" class="sponsor-logo1" />
        </div>
        <div class="sponsor-card">
          <img src="/img/image29.png" alt="dikinson" class="sponsor-logo1" />
        </div>
        <div class="sponsor-card">
          <img src="/img/img28.svg" alt="GAES" class="sponsor-logo1" />
        </div>
        <div class="sponsor-card">
          <img src="/img/img30.jpg" alt="phonak" class="sponsor-logo1" />
        </div>
        <div class="sponsor-card">
          <img src="/img/img31.svg" alt="Sqestudio" class="sponsor-logo1" />
        </div>
         <div class="sponsor-card">
          <img src="/img/img32.PNG" alt="Cochlear" class="sponsor-logo1" />
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  .sponsor-card {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 16px;
  }

  .sponsor-logo {
    width: 300px;
    height: 200px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }

  .sponsor-logo1 {
    width: 200px;
    height: 100px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }

  .sponsor-logo-large {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    .sponsor-logo-large {
      max-width: 600px;
    }
  }
</style>