---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';
---

<DefaultLayout title="Programa">
  <section class="my-24">
    <div class="container">
      <h1 class="text-6xl text-center mb-16">PROGRAMA</h1>

      <!-- Botones de navegación arriba -->
      <div class="relative mb-4 flex justify-center">
        <div class="swiper-button-prev absolute left-10 top-1/2 transform -translate-y-1/2"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next absolute right-10 top-1/2 transform -translate-y-1/2"></div>
      </div>

      <!-- Swiper HTML -->
      <div class="swiper">
        <div class="swiper-wrapper">
          <!-- Día 9 de octubre -->
          <div class="swiper-slide">
            <div class="program-day">
              <h2 class="text-4xl mb-4">Día 9 octubre</h2>
              <ul class="program-list">
                <li><strong>8:00 a 9:00</strong> Apertura de puertas y Recogida de documentación</li>
                <li>
                  <strong>9:00 a 9:30</strong> Sesión Inaugural del Congreso (Aula Magna Blas Cabrera) Universidad de La Laguna.
                  <ul>
                    <li>Presidenta del Congreso: María del Carmen Rodríguez Jiménez</li>
                    <li>Consejera del Cabildo Insular de Tenerife: Águeda Fumero Roque</li>
                    <li>Rector de la Universidad de La Laguna: Francisco J. García Rodríguez</li>
                    <li>Vicerrectora de Cultura y Extensión Universitaria: Isabel Karely León Pérez</li>
                  </ul>
                </li>
                <li><strong>9:30 a 10:15</strong> Ángel M. Ramos Macías. Criterios de selección de un implante coclear.</li>
                <li><strong>10:15 a 11:00</strong> Juan Carlos Falcón González. Hipoacusia: Impacto en el desarrollo del lenguaje y la cognición.</li>
                <li><strong>11:00 a 11:45</strong> José Juan Barajas de Prat. Estudio Longitudinal de los cambios en la sensibilidad auditiva en relación a la edad.</li>
                <li><strong>11:45 a 12:15</strong> Coffee Break</li>
                <li><strong>12:20 a 13:00</strong> Franz Zenker Castro. Hipoacusia Neurosensorial y percepción del habla. Consideraciones en población pediátrica.</li>
                <li><strong>13:00 a 13:45</strong> Dra. Laura Flix Díez. El papel de la fisioterapia en el equilibrio: visión, audición y sistema vestibular.</li>
                <li><strong>14:00 a 15:30</strong> Pausa - Comida. Coordinador: Rayco H. González Montesino.</li>
                <li><strong>15:30 a 16:05</strong> Iván Vázquez Villar. Retratos de la vida de las personas sordas mayores en el ámbito educativo.</li>
                <li><strong>16:05 a 16:40</strong> Carla Méndez Trillo. Lenguaje, poder e invisibilización: el impacto de las discriminaciones audistas en la comunidad sorda.</li>
                <li><strong>16:40 a 17:15</strong> María C. Bao Fente. Sordera, logopedia y bilingüismo: de la evidencia lingüística a la práctica clínica.</li>
                <li><strong>17:15 a 17:45</strong> Coffee Break</li>
                <li><strong>17:45 a 18:20</strong> Rayco H. González Montesino. La interpretación de lenguas de signos en los servicios públicos: certezas (y reflexiones) sobre accesibilidad y derechos lingüísticos.</li>
                <li><strong>18:20 a 18:55</strong> Susana Bena Villaseñor. La educación del alumno sordo: perspectiva histórica y situación pedagógica actual.</li>
                <li><strong>18:55 a 19:30</strong> Stéphanie Marie Michèle Papin. La lenguas de signos como lenguas de herencia: el caso de los/as CODA (hijos de padres sordos).</li>
              </ul>
            </div>
          </div>
          <!-- Taller de Fisioterapia -->
          <div class="swiper-slide">
            <div class="program-day">
              <h2 class="text-4xl mb-4">Taller: Fisioterapia (9 octubre)</h2>
              <ul class="program-list">
                <li><strong>15:00 a 19:00</strong> José Fierro Marrero y Laura Flix Díez. El Papel de la Fisioterapia en la Recuperación Funcional de Personas con Discapacidad Auditiva: Abordaje del vértigo, mareo y equilibrio.</li>
                <li><strong>19:00 a 20:00</strong> Alejandro Heneyands Martí. STIWELL PROFES: Electroestimulación como herramienta terapéutica y de evaluación en pacientes con Parálisis Facial.</li>
              </ul>
            </div>
          </div>

          <!-- Día 10 de octubre -->
          <div class="swiper-slide">
            <div class="program-day">
              <h2 class="text-4xl mb-4">Día 10 octubre</h2>
              <ul class="program-list">
                <li><strong>9:00 a 9:45</strong> José Mª Millán Salvador. Síndrome de Usher: Rompiendo el Silencio, Iluminando el Futuro.</li>
                <li><strong>9:45 a 10:30</strong> Helena Arroyo Moratilla. Intervención logopédica en el implante coclear con patologías asociadas.</li>
                <li><strong>10:30 a 11:15</strong> María Cambre Barceló. La realidad de las personas sordociegas en España: visibilidad y desafíos actuales.</li>
                <li><strong>11:15 a 11:45</strong> Coffee Break</li>
                <li><strong>11:45 a 12:30</strong> Jane Catherine Mackay Gallacher. Rehabilitación de niños con implantes cocleares bilaterales: La experiencia escocesa.</li>
                <li><strong>12:30 a 13:15</strong> Nicola June Clarke. Rehabilitation of Adults with Cochlear Implants: Assessment and Beyond.</li>
                <li><strong>13:15 a 14:00</strong> Helen Cullington. How technology is changing CI care.</li>
                <li><strong>14:00 a 15:30</strong> Pausa - Comida</li>
                <li><strong>15:30 a 16:10</strong> Romina Piccione. La individualización del tratamiento con MED-EL: de la tecnología a la rehabilitación del implante coclear centrada en la intervención familiar.</li>
                <li><strong>16:10 a 16:50</strong> Marta Bastarrica Martí. Personalización del tratamiento del implante coclear. Aspectos clínicos de las medidas objetivas y programación basada en la anatomía.</li>
                <li><strong>16:50 a 17:30</strong> Mariana Maggio De Maggi. Sistemas de micrófono remoto: ¿por qué, cómo, cuándo y dónde?</li>
                <li><strong>17:30 a 18:00</strong> Coffee Break</li>
                <li><strong>18:00 a 18:40</strong> Teresita Herrera Marín. Educación del alumnado sordo-Modelo Educativo en Inglaterra.</li>
                <li><strong>18:40 a 19:15</strong> Marina Salorio-Corbeto. Herramientas de realidad virtual para la evaluación y rehabilitación de la escucha espacial en niños con implantes cocleares bilaterales.</li>
              </ul>
            </div>
          </div>

          <!-- Día 11 de octubre -->
          <div class="swiper-slide">
            <div class="program-day">
              <h2 class="text-4xl mb-4">Día 11 octubre</h2>
              <ul class="program-list">
                <li><strong>9:00 a 9:45</strong> Teresita Herrera Marín. Early Education: Teacher of the Deaf working in partnership with families.</li>
                <li><strong>9:45 a 10:30</strong> Naira Delgado Márquez. Cada niño, un camino: claves de la Terapia Auditivo-Verbal ™ en la diversidad infantil.</li>
                <li><strong>10:30 a 11:00</strong> Coffee Break</li>
                <li><strong>11:00 a 12:00</strong> Helena Arroyo Moratilla y Alexandra Tisaire de Dios. Programación del implante coclear en población infantil y adulta.</li>
                <li><strong>12:00 a 12:45</strong> Betty Sackett. LSLS Cert. AVT. Apoyando el desarrollo de la Teoría de la Mente en niños con hipoacusia: Estrategias prácticas para padres.</li>
                <li><strong>13:00</strong> Clausura del Congreso</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>
<script>
  import Swiper from 'swiper';
  import { Navigation, Pagination, Autoplay } from 'swiper/modules';

  new Swiper('.swiper', {
    modules: [Navigation, Pagination, Autoplay],
    spaceBetween: 50,
    slidesPerView: 1,
    autoplay: { delay: 90000 },
    loop: true,
    pagination: { el: '.swiper-pagination', clickable: true },
    navigation: { nextEl: '.swiper-button-next', prevEl: '.swiper-button-prev' },
  });
</script>

<style lang="scss">
  .program-day {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
  }

  h2 {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #444;
    text-align: center;
  }

  .program-list {
    list-style-type: none;
    padding: 0;
  }

  .program-list li {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.6;
    background: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
  }

  .program-list li strong {
    font-size: 1.8rem;
    color: #7604b7;
    min-width: 160px;
    margin-right: 20px;
    font-weight: bold;
    text-align: center;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #7604b7;
    font-size: 2rem;
    z-index: 10;
  }

  .swiper-pagination {
    position: relative;
    margin-top: 10px;
  }
</style>
