<div class="container">
  <div class="call-to-action mt-24 mb-32 flex flex-col items-center gap-12 rounded-xl p-12 md:p-24">
    <h2 class="text-center text-3xl md:text-5xl">DESCARGA NUESTRO PROGRAMA</h2>
    <a href="https://drive.google.com/drive/folders/1zNRsbFukzeajklargH9VopeGM9bqMOKU?usp=sharing" class="text-center text-lg">Descargar</a>
  </div>
</div>

<style lang="scss">
  .call-to-action {
    color: #ffffff; 
    background-color: #6b21a8; 
  }

  .call-to-action a:not(button),
  .call-to-action a:not(button):visited {
    padding: 1rem;
    color: #ffffff; 
    font-weight: bold;
    border: 3px solid #ffffff; 
    border-radius: 3px;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

    &:where(:hover, :focus) {
      color: #6b21a8; 
      background-color: #ffffff; 
      text-decoration: underline;
    }
  }
</style>