---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Web para la Cátedra Institucional de la Universidad de La Laguna por <a href="https://www.instagram.com/catedradiscapacidadauditiva/">María del Carmen Rodríguez</a>. Realizada por <a
          href="https://www.instagram.com/sqstudiodm/">SQ Studio</a
        >.
      </p>
    </div>
  </section>
</footer>
